body,html{
    height: 100%;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
    color: black;
}


.img1{
    background-image: url("img1.jpg");
    min-height: 100% ;
    position: relative;
    opacity: 0.80;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.img2{
    background-image: url("img2.jpg");
    min-height: 400px;
    position: relative;
    opacity: 0.80;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.img3{
    background-image: url("img3.jpg");
    min-height: 400px;
    position: relative;
    opacity: 0.80;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.section1{
    text-align: center;
    padding: 50px 90px;
    background-color: black;
    color: white;

}
.section2{
    text-align: center;
    padding: 50px 90px;
    background-color:rgb(170, 141, 197);
    color: black;

}
.section3{
    text-align: center;
    padding: 50px 90px;
    background-color: rgb(198, 141, 141);
    color: black;

}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 30px;
    text-transform: uppercase;
}
 .border{
    background-color:black;
    color: white;
    padding: 20px;
 }